<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="text-center">Log in</h1>

    <%- if @user.allow_local_auth %>
      <%= render "devise/sessions/local" %>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
